# Ignore virtual environment
venv/
.env

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore system files
__pycache__/
*.pyc

# Ignore local settings file
local_settings.py

# Ignore IDE files
.vscode/
*.pyc

**/.DS._Store